# Notebook extensions - Pivot Table

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Pivot Table Extension

In [3]:
from pivottablejs import pivot_ui

### Read CSV

In [4]:
df = pd.read_csv("Food_Establishment_Inspection_Scores.csv")

In [5]:
df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description
0,Tinseltown USA Pflugerville,78660.0,02/20/2019,97,"15436 FM\nPFLUGERVILLE, TX 78660",2801050,Routine Inspection
1,Dollar Tree #4105,78753.0,07/02/2018,94,"12901 N IH\nAUSTIN, TX 78753",10885050,Routine Inspection
2,Juice House,78732.0,08/06/2019,99,"6816 N FM 620 RD\nAUSTIN, TX 78732",12070948,Routine Inspection
3,RW - The Finishline Carwash,NaN,04/05/2018,94,NaN,10555469,Routine Inspection
4,Austin White Lime,78728.0,08/24/2018,100,"14001 MC NEIL RD\nAUSTIN, TX 78728",2803732,Routine Inspection

### NUMPY arange (min, max, cluster size)

In [6]:
df['bin_score'] = pd.cut(df.Score, bins = np.arange(30,105,5))

In [7]:
df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,bin_score
0,Tinseltown USA Pflugerville,78660.0,02/20/2019,97,"15436 FM\nPFLUGERVILLE, TX 78660",2801050,Routine Inspection,"(95, 100]"
1,Dollar Tree #4105,78753.0,07/02/2018,94,"12901 N IH\nAUSTIN, TX 78753",10885050,Routine Inspection,"(90, 95]"
2,Juice House,78732.0,08/06/2019,99,"6816 N FM 620 RD\nAUSTIN, TX 78732",12070948,Routine Inspection,"(95, 100]"
3,RW - The Finishline Carwash,NaN,04/05/2018,94,NaN,10555469,Routine Inspection,"(90, 95]"
4,Austin White Lime,78728.0,08/24/2018,100,"14001 MC NEIL RD\nAUSTIN, TX 78728",2803732,Routine Inspection,"(95, 100]"

In [10]:
pivot_ui(df[['bin_score','Zip Code' ]])

In [11]:
pivot_ui(df)